@font-face {
    font-family: 'Prime-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Prime-Regular'), url('../fonts/Prime-Regular.ttf') format('truetype');
}

body {
    font-family: 'Prime-Regular',sans-serif;
}

#sync-app {
    display: none;
}

#sync-app:target {
    display: block;
}

#sync-app:target + #uploads-app {
    display: none;
}

#new-replication{
    width: 250px;
}